
.calc-container{
    height: 100vh;
}
.output{
    height: 60px;
    width: 25%;
    background-color: antiquewhite;
    margin: auto;
}
.output>#result{
width: 100%;
height: 100%;
}
.input{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 25%;
    gap: 10px;
    height: 80%;
    padding-top: 20px;
    margin-left: -10px;
    margin: auto;
}
#button{
   
    grid-column: 1/5;
}
.button{
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: antiquewhite;
    padding: 8px;
}